@import "./settings/normalize";
@import "./settings/fonts";
@import "./settings/colors";

html,
body {
  font-size: 16px;
  position: relative;
}

* {
  font-family: $font-base;
}

#map {
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.bg {
  position: relative;
  width: 100vw;
  background-color: $color-primaryblue;
}

.shadow-effect {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.nav_box {
  top: 0;
  z-index: 42;
  background-color: $color-primaryblue;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 40px 13%;
  .nav {
    display: flex;
    align-items: center;
    min-height: 70px;
    max-width: 1254px;
    margin-top: 35px;
    .nav_links {
      display: flex;
      align-items: center;
      margin-right: 20px;
      a,
      .scroll-link {
        color: #ffffff;
        font-size: 20px;
        font-family: $font-alt;
        padding: 15px 30px;
        text-decoration: none;
        transition: color 0.3s, transform 0.3s;
        margin-right: 10px;
        &:hover {
          color: #ffd700;
          transform: translateY(-2px);
        }
      }
    }
    .auth_links {
      flex-wrap: nowrap;
      display: flex;
      border-radius: 50px;
      overflow: hidden;
      a {
        flex-shrink: 0;
        min-width: 100px;
        flex: none;
        font-family: $font-alt;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 30px;
        font-size: 20px;
        transition: background-color 0.3s;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #ffd700;
        }
      }
      .left {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: $color-secondaryblue;
        color: $color-primaryblue;
      }
      .center {
        position: relative;
        background: linear-gradient(
          to right,
          $color-secondaryblue 0%,
          $color-secondaryblue 80%,
          $color-orange 100%
        );
        color: $color-primaryblue;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #ffd700;
          opacity: 0;
          transition: opacity 0.3s;
          border-radius: inherit;
        }
        &:hover::before {
          opacity: 1;
        }
      }
      .right {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background: $color-orange;
        color: #ffffff;
      }
    }
    .logo_container {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
}

.header {
  max-width: 1970px; /* Adjust this value as needed */
  margin: 0 auto;
  display: flex;
  align-items: center;
  .header_box {
    width: 100%;
    height: 970px;
    display: flex;
    background-color: $color-primaryblue;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    .map_img {
      width: 100%;
      height: auto;
    }
    .overlay {
      position: absolute;
      top: 535px; // Adjust the positioning as needed
      left: 320px; // Adjust the positioning as needed
      width: 450px; // Adjust size as needed
      height: 400px; // Adjust size as needed
      background-color: #0e2e46;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.stats {
  width: 100%;
  height: 384px;
  background-color: $color-cream;
  .stats_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .statistic {
    flex: 1;
    text-align: center;
    padding: 0 10px;
    color: $color-darkcream;
    .number {
      text-align: center;
      font-family: $font-alt;
      font-size: 90px;
      letter-spacing: 0px;
    }
    .stat_name {
      text-align: center;
      font-family: $font-alt;
      font-size: 18px;
      letter-spacing: -0.36px;
      color: #3c3c3c;
    }
    .stat_desc {
      text-align: center;
      font-family: $font-alt;
      font-size: 16px;
      letter-spacing: -0.32px;
      color: #3c3c3c;
    }
  }
}

// Leaflet bs
.leaflet-tooltip {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
// Tooltip Button Arrow
.leaflet-tooltip:before {
  border-width: 13px;
  transform: rotate(55deg);
  position: absolute;
}

// Tooltip Button
.custom-button {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 25px;
  transform: translateX(8px);
}

// Tooltip Button Hover
.custom-button:hover {
  background-color: #f2f2f2;
}

.custom-marker-tooltip {
  background: white;
  border-radius: 12px;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  .tooltip-btn {
    background: transparent;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 0;
    cursor: pointer;
    &:hover {
      color: #0056b3;
    }
  }
}

.pane {
  z-index: 2;
}

.sliding-pane-container {
  position: absolute; /* Use absolute positioning */
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  transition: transform 0.3s ease-in-out;
  background-color: #fff; /* Set a background color to cover the map */
  z-index: 20; /* Set a higher z-index than the map */
}

.sliding-pane-content {
  padding: 20px;
  border: 1px solid #ccc;
}

.sliding-pane-container.open {
  transform: translateX(0);
}

.sliding-pane-container:not(.open) {
  transform: translateX(
    0%
  ); /* Use positive translateX value to move off-screen */
}
